
/*Downloaded from https://www.codeseek.co/drewbkoch/check-mark-success-animation-ogyXEK */
.CheckmarkCircle {
    margin-left: 5px;
 width: 35px;
 height: 35px;
 position: relative;
 display: inline-block;
 vertical-align: top;
}
.CheckmarkCircle .background {
 width: 35px;
 height: 35px;
 border-radius: 50%;
 background: #2EB150;
 position: absolute;
}
.CheckmarkCircle .checkmark {
 border-radius: 5px;
}
.CheckmarkCircle .checkmark.draw:after {
 -webkit-animation-delay: 100ms;
 -moz-animation-delay: 100ms;
 animation-delay: 100ms;
 -webkit-animation-duration: 1s;
 -moz-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-timing-function: ease;
 -moz-animation-timing-function: ease;
 animation-timing-function: ease;
 -webkit-animation-name: checkmark;
 -moz-animation-name: checkmark;
 animation-name: checkmark;
 -webkit-transform: scaleX(-1) rotate(135deg);
 -moz-transform: scaleX(-1) rotate(135deg);
 -ms-transform: scaleX(-1) rotate(135deg);
 -o-transform: scaleX(-1) rotate(135deg);
 transform: scaleX(-1) rotate(135deg);
 -webkit-animation-fill-mode: forwards;
 -moz-animation-fill-mode: forwards;
 animation-fill-mode: forwards;
}
.CheckmarkCircle .checkmark:after {
 opacity: 1;
 height: 20px;
 width: 12.5px;
 -webkit-transform-origin: left top;
 -moz-transform-origin: left top;
 -ms-transform-origin: left top;
 -o-transform-origin: left top;
 transform-origin: left top;
 border-right: 4px solid white;
 border-top: 3.5px solid white;
 border-radius: 2px !important;
 content: '';
 left: 3px;
 top: 17px;
 position: absolute;
}

@-webkit-keyframes checkmark {
 0% {
   height: 0;
   width: 0;
   opacity: 1;
 }
 20% {
   height: 0;
   width: 12.5px;
   opacity: 1;
 }
 40% {
   height: 20px;
   width: 12.5px;
   opacity: 1;
 }
 100% {
   height: 20px;
   width: 12.5px;
   opacity: 1;
 }
}
@-moz-keyframes checkmark {
 0% {
   height: 0;
   width: 0;
   opacity: 1;
 }
 20% {
   height: 0;
   width: 12.5px;
   opacity: 1;
 }
 40% {
   height: 20px;
   width: 12.5px;
   opacity: 1;
 }
 100% {
   height: 20px;
   width: 12.5px;
   opacity: 1;
 }
}
@keyframes checkmark {
 0% {
   height: 0;
   width: 0;
   opacity: 1;
 }
 20% {
   height: 0;
   width: 12.5px;
   opacity: 1;
 }
 40% {
   height: 20px;
   width: 12.5px;
   opacity: 1;
 }
 100% {
   height: 20px;
   width: 12.5px;
   opacity: 1;
 }
}

